:root {
  --bg-color: #dcdcdb;
  --text-color: #000000;
  --accent-color: #da2222;
  --contrast-color: #8dde98;
  --orange-color: #de8951;
}

.hero {
  height: auto;
  display: flex;
}

.hero-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 130px;
}

.hero-left h2 {
  font-size: 3rem;
}

.hero-left p {
  font-size: 1.5rem;
}

.hero-arrow-btn svg {
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}

.hero-arrow-btn svg:hover {
  color: var(--accent-color);
  transform: scale(1.15);
}

.hero-right img {
  animation: 30s linear 0s normal none infinite running rot;
  -webkit-animation: 30s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}